asttokens==3.0.0
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1
coal==3.0.1
decorator==5.2.1
eigenpy==3.10.3
executing==2.2.0
gitdb==4.0.12
GitPython==3.1.44
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
loop-rate-limiters==1.1.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
meshcat==0.3.2
numpy==2.3.1
osqp==1.0.4
parso==0.8.4
pexpect==4.9.0
pillow==11.3.0
pin==3.7.0
pin-pink==3.3.0
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyngrok==7.2.12
PyYAML==6.0.2
pyzmq==27.0.0
qpsolvers==4.8.0
robot_descriptions==1.20.0
scipy==1.16.0
setuptools==80.9.0
smmap==5.0.2
stack-data==0.6.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
u-msgpack-python==2.8.0
wcwidth==0.2.13
